<div class="login-container">
  <div class="title">
    <h2>{{ "AUTH.RESET_PASSWORD.FORGOT_PASSWORD_TITLE" | translate }}</h2>
    <p>{{ "AUTH.RESET_PASSWORD.FORGOT_PASSWORD_SUBTITLE" | translate }}</p>
  </div>

  <div class="footer-divider"></div>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="login-form">
    @if (errorMessage()) {
    <div class="error-message">{{ errorMessage() }}</div>
    }

    <div class="form-group">
      <label for="email">{{ "AUTH.FORMS.EMAIL" | translate }}</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        [class.invalid]="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid"
      />
    </div>

    <button type="submit" [disabled]="isLoading()" class="submit-btn">
      @if (isLoading()) {
      <span>...</span>
      } @else {
      <span>{{ "AUTH.RESET_PASSWORD.SEND_RESET_LINK" | translate }}</span>
      }
    </button>
  </form>

  <div class="footer-divider"></div>

  <p class="register-text">
    <a routerLink="/auth-layout/login"> {{ "AUTH.RESET_PASSWORD.BACK_TO_LOGIN" | translate }} </a>
  </p>
</div>
