<nav class="w-full bg-[#741C21] text-white px-4 md:px-8 shadow-md flex items-center justify-center" style="padding-top: 1%;padding-bottom: 1%;">
  <div class="max-w-7xl mx-auto flex items-center justify-center md:justify-start gap-3 md:gap-7 overflow-x-auto no-scrollbar">
    
    <a href="#" class="flex items-center gap-2 px-4 py-3.5 text-sm font-medium border-b-2 border-pink-400 text-pink-300 transition-all duration-200 shrink-0">
      <i class="pi pi-home text-base"></i>
      <span>{{ 'NAVBAR.HOME' | translate }}</span>
    </a>

    <a href="#" class="flex items-center gap-2 px-4 py-3.5 text-sm font-medium border-b-2 border-transparent text-gray-200 hover:text-white hover:[border-pink-300] transition-all duration-200 shrink-0">
      <i class="pi pi-gift text-base"></i>
      <span>{{ 'NAVBAR.PRODUCTS' | translate }}</span>
    </a>

    <a href="#" class="flex items-center gap-2 px-4 py-3.5 text-sm font-medium border-b-2 border-transparent text-gray-200 hover:text-white hover:border-pink-300 transition-all duration-200 shrink-0">
      <i class="pi pi-list text-base"></i>
      <span>{{ 'NAVBAR.CATEGORIES' | translate }}</span>
    </a>

    <a href="#" class="flex items-center gap-2 px-4 py-3.5 text-sm font-medium border-b-2 border-transparent text-gray-200 hover:text-white hover:border-pink-300 transition-all duration-200 shrink-0">
      <i class="pi pi-sparkles text-base"></i>
      <span>{{ 'NAVBAR.OCCASIONS' | translate }}</span>
    </a>

    <a href="#" class="flex items-center gap-2 px-4 py-3.5 text-sm font-medium border-b-2 border-transparent text-gray-200 hover:text-white hover:border-pink-300 transition-all duration-200 shrink-0">
      <i class="pi pi-phone text-base"></i>
      <span>{{ 'NAVBAR.CONTACT' | translate }}</span>
    </a>

    <a href="#" class="flex items-center gap-2 px-4 py-3.5 text-sm font-medium border-b-2 border-transparent text-gray-200 hover:text-white hover:border-pink-300 transition-all duration-200 shrink-0">
      <i class="pi pi-info-circle text-base"></i>
      <span>{{ 'NAVBAR.ABOUT' | translate }}</span>
    </a>

  </div>
</nav>