:host {
  display: block;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.auth-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.left-side {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  overflow-y: auto;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.placeholder-card {
  width: 420px;
  max-height: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: center;
}

router-outlet {
  display: none;
}

/* Right Section */
.right-side {
  width: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

/* ==========================
   Top Actions
========================= */

.top-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.theme-btn {
  width: 36px;
  height: 36px;
  // border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;

  i {
    color: var(--theme-btn-color);
    font-size: 16px;
  }

  &:hover {
    transform: rotate(20deg);
  }
}

.lang-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--lang-btn-color);
  font-size: 1rem;
  line-height: 100%;
  font-weight: 400;
}
/* ==========================
   Ornament
========================== */

.ornament {
  display: flex;
  justify-content: center;

  img {
    width: 17.5rem;
    display: block;
  }
  :host-context(.dark-mode) & {
    img {
      filter: brightness(0) saturate(100%) invert(76%) sepia(15%) saturate(1200%) hue-rotate(298deg)
        brightness(103%) contrast(101%);
    }
  }
}

.reverse {
  img {
    transform: rotate(180deg);
    gap: 1rem !important;
  }
}

/* Responsive */
@media (max-width: 992px) {
  .auth-layout {
    flex-direction: column;
  }

  .left-side,
  .right-side {
    width: 100%;
  }

  .right-side {
    display: none;
  }
}
