<div class="login-container">
  <div class="title">
    <h2>{{ "AUTH.RESET_PASSWORD.NEW_PASSWORD_TITLE" | translate }}</h2>
    <p>{{ "AUTH.RESET_PASSWORD.NEW_PASSWORD_SUBTITLE" | translate }}</p>
  </div>

  <div class="footer-divider"></div>

  <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()" class="login-form">
    @if (errorMessage()) {
    <div class="error-message">{{ errorMessage() }}</div>
    }

    <div
      class="form-group"
      (focusin)="showPasswordRules.set(true)"
      (focusout)="showPasswordRules.set(false)"
    >
      <label for="newPassword">{{ "AUTH.RESET_PASSWORD.FORMS.NEW_PASSWORD" | translate }}</label>
      <p-password
        id="newPassword"
        formControlName="newPassword"
        [toggleMask]="true"
        [feedback]="false"
        [class.invalid]="newPasswordForm.controls.newPassword.touched && newPasswordForm.controls.newPassword.invalid"
        (keydown.enter)="onSubmit()"
      />
      @if (showPasswordRules()) {
      <app-password-rules [password]="newPasswordForm.controls.newPassword.value" />
      }
    </div>

    <div class="form-group">
      <label for="confirmPassword"
        >{{ "AUTH.RESET_PASSWORD.FORMS.CONFIRM_PASSWORD" | translate }}</label
      >
      <p-password
        id="confirmPassword"
        formControlName="confirmPassword"
        [toggleMask]="true"
        [feedback]="false"
        [class.invalid]="newPasswordForm.controls.confirmPassword.touched && newPasswordForm.controls.confirmPassword.invalid"
        (keydown.enter)="onSubmit()"
      />
    </div>

    <button type="submit" [disabled]="isLoading()" class="submit-btn">
      @if (isLoading()) {
      <span>...</span>
      } @else {
      <span>{{ "AUTH.RESET_PASSWORD.RESET_PASSWORD_BTN" | translate }}</span>
      }
    </button>
  </form>

  <div class="footer-divider"></div>

  <p class="register-text">
    <a routerLink="/auth-layout/login"> {{ "AUTH.RESET_PASSWORD.BACK_TO_LOGIN" | translate }} </a>
  </p>
</div>
