:root {
  --font-family: "Inter", sans-serif;
  --font-family-ar: "Zain", sans-serif;

  --white: #ffffff;
  --black: #000000;
  --shadow-black: #0000000d;
  --shadow-black-opacity: #0000001a;

  --shadow-error: #ffffff4d;
  --shadow-success: #00000026;

  --zinc-900: #18181b;
  --zinc-800: #27272a;
  --zinc-700: #3f3f46;
  --zinc-600: #52525b;
  --zinc-500: #71717a;
  --zinc-400: #a1a1aa;
  --zinc-300: #d4d4d8;
  --zinc-200: #e4e4e7;
  --zinc-100: #f4f4f5;
  --zinc-50: #fafafa;
  --maroon-800: #501419;
  --maroon-700: #741c21;
  --maroon-600: #a6252a;
  --maroon-500: #cd2e33;
  --maroon-400: #d75458;
  --maroon-50: #fbeaea;
  --red-600: #dc2626;
  --soft-pink-600: #e65073;
  --soft-pink-500: #ff668b;
  --soft-pink-400: #ff85a2;
  --soft-pink-300: #ffa3b9;
  --soft-pink-200: #ffc2d0;
  --soft-pink-100: #ffe0e7;
  --soft-pink-50: #fff1f5;
  --hover-card-shape: #e6507380;

  --emerald-50: #ecfdf5;
  --emerald-300: #5ee9b5;
  --emerald-500: #00bc7d;
  --emerald-700: #007a55;

  --gray-200: #e9ecef;
  --gray-900: #2e2e30;
  --gray-950: #323639;

  --body-color: var(--white);

  //auth layout
  --text-color-create-new: var(--maroon-700);
  --lang-btn-color: var(--zinc-700);
  --theme-btn-color: var(--maroon-600);
  //login
  --login-container-bg: var(--white);
  --dont-have-an-account-color: var(--zinc-800);
  --footer-divider-color: var(--zinc-200);
  // inputs
  --input-bg: var(--white);
  --input-border-color: var(--zinc-200);
  --input-text-color: var(--zinc-800);
  --input-placeholder-color: var(--zinc-400);
  --input-focus-border-color: var(--maroon-600);
  --input-border-radius: 12px;
  // toast
  --toast-error-bg: var(--maroon-50);
  --toast-error-color: var(--zinc-800);
  --toast-error-i-color: var(--maroon-500);
  --toast-success-bg: var(--emerald-50);
  --toast-success-color: var(--zinc-800);
  --toast-success-i-color: var(--emerald-700);
  --toast-btn-close-color: var(--zinc-400);

  // password strength rules panel
  --password-panel-bg: var(--white);
  --password-bar-bg: var(--maroon-700);
  --password-bar-active-bg: var(--maroon-500);
  --password-text-color: var(--zinc-800);
  --password-rule-text: var(--zinc-500);
  --password-rule-active-text: var(--emerald-700);
  --password-rule-active-icon: var(--emerald-700);
  --password-rule-icon: var(--zinc-400);
}

.dark-mode {
  --body-color: var(--zinc-800);

  //auth layout
  --text-color-create-new: var(--soft-pink-300);
  --lang-btn-color: var(--zinc-50);
  --theme-btn-color: var(--soft-pink-300);
  //login
  --login-container-bg: var(--zinc-800);
  --dont-have-an-account-color: var(--zinc-50);
  --footer-divider-color: var(--zinc-600);

  // inputs
  --input-bg: var(--zinc-900);
  --input-border-color: var(--zinc-700);
  --input-text-color: var(--zinc-100);
  --input-placeholder-color: var(--zinc-500);
  --input-focus-border-color: var(--soft-pink-300);

  // toast
  --toast-error-bg: var(--maroon-500);
  --toast-error-color: var(--zinc-100);
  --toast-error-i-color: var(--zinc-50);

  --toast-success-bg: var(--emerald-300);
  --toast-success-color: var(--zinc-800);
  --toast-success-i-color: var(--zinc-700);
  --toast-btn-close-color: var(--zinc-600);

  // password strength rules panel
  --password-panel-bg: var(--zinc-900);
  --password-bar-bg: var(--soft-pink-300);
  --password-bar-active-bg: var(--soft-pink-500);
  --password-text-color: var(--zinc-100);
  --password-rule-text: var(--zinc-400);
  --password-rule-active-text: var(--emerald-500);
  --password-rule-active-icon: var(--emerald-500);
  --password-rule-icon: var(--zinc-500);
  --input-bg: var(--zinc-600);
  --label-color: var(--zinc-50);
}
