<div class="password-rules-panel">
  <div class="strength-bar-container">
    <div
      class="strength-bar"
      [style.width.%]="strengthPercentage()"
      [class]="strengthClass()"
    ></div>
  </div>
  <div class="strength-label">
    <span>{{ "AUTH_PASSWORD_RULES.PASSWORD_STRENGTH" | translate }}:</span>
    <span class="strength-text" [class]="strengthClass()">
      @if (strengthPercentage() <= 40) { {{ "AUTH_PASSWORD_RULES.STRENGTH_WEAK" | translate }} }
      @else if (strengthPercentage() <= 80) { {{ "AUTH_PASSWORD_RULES.STRENGTH_MEDIUM" | translate
      }} } @else { {{ "AUTH_PASSWORD_RULES.STRENGTH_STRONG" | translate }} }
    </span>
  </div>

  <div class="rules-header">{{ "AUTH_PASSWORD_RULES.TITLE" | translate }}</div>

  <ul class="rules-list">
    <li [class.active]="hasMinLength()">
      <i class="pi" [class]="hasMinLength() ? 'pi-check-circle' : 'pi-circle'"></i>
      <span>{{ "AUTH_PASSWORD_RULES.MIN_LENGTH" | translate }}</span>
    </li>
    <li [class.active]="hasLowercase()">
      <i class="pi" [class]="hasLowercase() ? 'pi-check-circle' : 'pi-circle'"></i>
      <span>{{ "AUTH_PASSWORD_RULES.LOWERCASE" | translate }}</span>
    </li>
    <li [class.active]="hasUppercase()">
      <i class="pi" [class]="hasUppercase() ? 'pi-check-circle' : 'pi-circle'"></i>
      <span>{{ "AUTH_PASSWORD_RULES.UPPERCASE" | translate }}</span>
    </li>
    <li [class.active]="hasNumber()">
      <i class="pi" [class]="hasNumber() ? 'pi-check-circle' : 'pi-circle'"></i>
      <span>{{ "AUTH_PASSWORD_RULES.NUMBER" | translate }}</span>
    </li>
    <li [class.active]="hasSpecialChar()">
      <i class="pi" [class]="hasSpecialChar() ? 'pi-check-circle' : 'pi-circle'"></i>
      <span>{{ "AUTH_PASSWORD_RULES.SPECIAL" | translate }}</span>
    </li>
  </ul>
</div>
